html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Cutive Mono', monospace;
    display: flex;
    flex-direction: row;
    background-color: #2B5554;
    //height: 100%;
}

.main-panel__heading {
    font-family: 'Noto Serif Display', serif;
    color: white;
    font-size: 3.5rem;
}

.left-panel {
    background-color: #163838;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200%;
    margin-bottom: -200%;
}
//styles for hiding left panel
.left-panel.hidden {
    width: 0;
}

.nav-control {
    position: absolute;
    top: 2rem;
    left: 20%;
   
}

.nav-control button {
    background-color: #2B5554;
    color: white;
 
}

.left-panel.hidden .nav-control {
    left: 0;
}
.main-panel {
    background-color: #2B5554;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    background-image: url('/images/mi6-seal-bg.png?=v2');
    background-size: 100%;
    background-position: center;
    height: 100%;
    padding-bottom: 200%;
    margin-bottom: -200%;
}

.left-panel__img {
    width: 4rem;
    background-color: #163838;
    margin-top: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: #2B5554;
}

.button {
    margin: 0.5rem;
    width: 120%;
    height: 2.25rem;
}

.button:hover {
    background-color: #2B5554;
}

.people-list {
    margin: 2rem;
}

// .status-filter {
//     display: flex;
//     width: 100%;
//     justify-content: space-around;
//     background-color: #999999;
//     height: 2rem;
// }

.status-filter__status {
    background-color:#2B5554;
    font-family: 'Cutive Mono', monospace;
    color: black; 
}

.status-filter__status:hover {
    background-color:#163838;
    font-family: 'Cutive Mono', monospace; 
}

.register {
    display: flex;
    flex-flow:column ;
}